
.partners-cont{
    background-image: url("https://i.postimg.cc/vBWzG41P/hero-video.gif");
    background-size:cover;
}
.inputz{
    width:450px;
    height:40px;
    border-radius:10px;
    border:1px solid #bfbfbf;
    
}